html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: black;
  color: #f2f2f2;
  font-family: 'Avenir', sans-serif;
  background-image: url("/img/lanterns.png");
  background-position: 50% -4%;
  /*background-size: contain;*/
  background-repeat: repeat-x;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.header {
  text-align: center;
  color: gold;
  margin: 40px 0; }

.year-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 4;
  /*opacity: 1;*/ }

.year-entry input {
  border: 2px solid gold;
  border-right: none;
  height: 60px;
  width: 200px;
  background: black;
  color: gold;
  font-size: 50px;
  text-align: center;
  box-sizing: border-box; }

.year-entry input:focus {
  outline: none; }

.year-entry button {
  width: 60px;
  display: inline;
  color: gold;
  height: 60px;
  border: 2px solid gold;
  background: black;
  cursor: pointer; }

.year-entry button:focus {
  outline: none; }

.zodiac {
  padding-top: 20px; }

.zodiac .animals {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0;
  height: auto; }

.zodiac .animals li {
  width: 35%;
  display: inline-block;
  width: 130px;
  margin: 0 25px;
  text-align: center;
  -webkit-filter: grayscale(1) blur(3px);
  filter: grayscale(1) blur(3px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.zodiac .animals li:nth-of-type(0) {
  margin-left: 0; }

.zodiac .animals li a {
  text-decoration: none; }

.zodiac .animals li img {
  width: 130px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }

.zodiac .animals li p {
  color: gold;
  font-weight: bold;
  margin-bottom: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out .3s;
  transition: all .3s ease-in-out .3s; }

.zodiac .animals li.selected {
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.zodiac .animals li.selected img {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.zodiac .animals li.selected p {
  opacity: 1; }
